.carrito{
    height: 50vh;
    width: 80vh;
    margin: auto;
    margin-top: 100px;
}

label{
    padding: 5px;
    font-size: 3vh;
}

select option{
    color: blueviolet;
}

select{
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid whitesmoke;
    outline: none;
}
@media screen and (max-width: 1700px){
    #bl{
        margin: 100px auto;
        min-width: 100px;
    }
    .carrito{
        height: 90%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 1050px){
    input{
        width: 100vw;
        margin: 0px;
        padding: 0px;
    }
    select{
        width: 100vw;
        height: 90%;
        margin: 10px auto;
    }
    #bl{
        margin: 100px auto;
        min-width: 100px;
    }
    footer{
        width: 100vw;
    }
}